<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Login Form</title>
</head>
<body class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
    <h2>Login</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    </div>
    
</body>
</html>
